<head>
  <script = 'javascript'></script>
</head>
<body>
  <form id = 'newdestination' action = '/newdestination' method = 'post'>
      <label for = 'destination'>Destination:<input type = 'text' name = 'destination'></label>
      <label for = 'description'>Description:<textarea name = 'description' id = 'description'  rows="4" cols="50"></textarea></label>
      <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
          dd='0'+dd
        }
        if(mm<10){
            mm='0'+mm
          }

          today = mm +'-'+dd + '-' + yyyy;
          document.getElementById("datefield").setAttribute("min", today);
      </script>
      <label for = 'start'><input type = 'date' name = 'start' id = 'start' min = '2017-02-23'>


        </label>
      <label for = 'finish'><input type = 'date' name = 'finish' id = 'finish' min = '2017-02-23'></label>
      <input type = 'submit' value = 'Add Destination'>
      {% csrf_token %}
      <p>{{ fail }}</p>
      <a href = '/'>Logout</a>
      <a href = '/travels'>Home</a>
  </form>
</body>
